.cao-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9fafb;
  max-width: 60%;
  height:auto;
  margin:.5em auto;
  gap: 30px;
  flex-wrap: wrap;

}

.cao-card-content {
  flex: 1;
  min-width: 280px;
  max-width: 50%;
}

.cao-card-title {
  font-size: 1.6rem;
  font-weight: bold;
  background: linear-gradient(to left, #020064, #fb0c0c);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;  margin-bottom: 5px;
  text-align: left;
}

.cao-card-role {
  font-size: 1rem;
  font-weight: bold;
  color: #fb0c0c;
  margin-bottom: 15px;
}

.cao-card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
  
}

.cao-card-contact p {
  margin: 5px 0;
  color: #333;
}

.cao-card-contact a {
  color: #020064;
  text-decoration: none;
}

.cao-card-contact a:hover {
  text-decoration: underline;
}

.cao-card-image {
  flex: 0 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cao-card-image img {
  width: 100%;

  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.gradient-border {
  padding: 2px; 
  overflow: hidden;
  border-radius: 12px;
  background: linear-gradient(135deg, #020064, #fb0c0c); /* blue to red */
  display: inline-block;
}

.gradient-border img {
  border-radius: 8px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #f9fafb;
}
