.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 3rem;
    /* background-color: #fff; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    position: fixed;  /* Fixed to the top */
    top: 0;           /* Stick to the top of the page */
    left: 0;          /* Align to the left side */
    width: 100%;      /* Full width of the screen */
    z-index: 1000;    /* Ensure it stays on top of other content */
    transition: top 0.3s ease; /* Smooth transition */
    box-sizing: border-box;
  }
  
  .nav-left {
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-link {
    text-decoration: none;
    color: #05055b;
    font-weight: 600;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .nav-right img.nav-logo {
    height: 40px; /* Adjust as needed */
    width: auto;
    cursor: pointer;
  }
  
  body {
    padding-top: 60px; /* Add space for the navbar */
  }
  