/* Prototype.css */

.prototype-container {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 10rem;
    position: relative;
  }
  .prototype-container::before , .prototype-container::after{
    content: '';
    position: absolute;
    border-radius: 50%; /* Circular bubbles */
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.4); /* Glow effect for bubbles */
    animation: move-bubbles 1s infinite linear;
    z-index: -1;
    filter: blur(100px);
  }
  
  /* Size and position of the bubbles */
  .prototype-container::before {
    width: 400px;
    height: 400px;
    top: 20%;
    left: -10%;
    background: rgba(52, 77, 216, 0.397); 
    animation-duration: 10s;
  }

  .prototype-container::after {
    width: 500px;
    height: 500px;
    top: 30%;
    left: 5%;
    background: rgba(255, 125, 125, 0.479); 
    animation-duration: 25s;
  }

  
  .prototype-container h1 {
    font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #020064, #fb0c0c);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  }
  
  .prototype-container img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
