.prototype-container {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 10rem;
    position: relative;
  }
  .prototype-container::before , .prototype-container::after{
    content: '';
    position: absolute;
    border-radius: 50%; /* Circular bubbles */
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.4); /* Glow effect for bubbles */
    animation: move-bubbles 1s infinite linear;
    z-index: -1;
    filter: blur(100px);
  }
  
  /* Size and position of the bubbles */
  .prototype-container::before {
    width: 400px;
    height: 400px;
    top: 20%;
    left: -10%;
    background: rgba(52, 77, 216, 0.397); 
    animation-duration: 10s;
  }

  .prototype-container::after {
    width: 500px;
    height: 500px;
    top: 30%;
    left: 5%;
    background: rgba(255, 125, 125, 0.479); 
    animation-duration: 25s;
  }

  
  .prototype-title {
   font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #020064, #fb0c0c);
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  }
  
  .prototype-row-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
  }
  
  .prototype-card {
    width: calc(30% - 1em);
  }
  
  .prototype-card:hover img {
    transform:scale(1.2);
    transition: transform 0.3s ease;

  }
  
  .prototype-image {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 6px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;

  }
  
  .prototype-name {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.5rem 0;
}

.prototype-type {
    font-size: 1.4rem;
    color: #020064;
  }
  