


/* Old Products Section */


/* h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  width: 33%;
  height: 100%;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 16px;
  text-align: center;
}

@media (max-width: 768px) {
  .product-card {
    flex: 1 1 100%;
    width: 100%;
  }
}


.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: radial-gradient(circle, #e0f2fe, #93c5fd); 

}

.product-card h3 {
  font-size: 2rem;
  margin-top: 10px;
}

.product-card p {
  color: #252525;
  margin-top: 2px;
}

.product-card a {
  display: block;
  margin-top: 15px;
  color: #2563eb;
  font-weight: bold;
  text-decoration: none;
}

.product-card a:hover {
  text-decoration: underline;
} */


body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to top right, rgb(255, 255, 255), #ebebeb);
  background-repeat: no-repeat; 
  background-size: cover;     
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #000;
  overflow-x: hidden;
}


 
  
  /* Content Styling */
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ebebeb;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #020064, #fb0c0c);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #d10505, #020064);
  }
  